@use 'variaveis';

.conteudo {
    padding: 2vw 15vw;
    padding-top: 5vw;

    &__list {
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        justify-content: center; 
        justify-items: center;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        &--is-active {
            display: grid;
        }

        &__item {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center; 
            align-items: center;

            @media (max-width: 768px) {
                margin-right: 20px;
            }

            img {
                width: 250px;
                height: 350px;
            }

            p {
                width: 250px;
                height: auto;
                text-align: center;
            } 
            
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;

        &__button {
            font-family: Science Gothic;
            color: variaveis.$corTextoPreto;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;
            
            &--is-active {
                border-color: variaveis.$corTextoPreto;
            }
        }
    }
}