.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;

    &__container {
        padding: 3px auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #00000080;
        position:absolute;
        align-items: center;
    }

    &__logo {
        max-width: 100px;
        width: 100%;
        margin: 5px;
    }

    &__links {
        display: flex;

        &__item {
            margin: 5px;
        }
    }

    .button {
        height: 50px;
        text-decoration: none;
        padding-right: 10px;
        color: #fff;
    }
}