@use 'variaveis';

.carousel-inner {
    height: 600px;

    .carousel-item {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.hero {
    display: block;
    position: relative;

    &__container__text {
        position: absolute;
        top: 0;
        right: 50%;
        height: 100%;
        width: calc(50% - 5.6vw);
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
        
        h2 {
            text-shadow: 0 0 15px #1d1d1d, 0 0 30px #1d1d1d;
        }
        
        p {
            text-shadow: 0 0 15px #000, 0 0 30px #000;
        }
    }
}